<form class="form-container" [formGroup]="signUpForm" novalidate (ngSubmit)="signUp(signUpForm.value)">

    <span class="form-title">Create account</span>

    <label class="form-label" for="name">Name</label>
    <input class="form-input"
           type="text" id="name"
           formControlName="name">
    <div class="form-error" *ngIf="formErrors.name">
        {{ formErrors.name}}
    </div>

    <label class="form-label" for="email">Email</label>
    <input class="form-input"
           type="text" id="email"
           formControlName="email">
    <div class="form-error" *ngIf="formErrors.email">
        {{ formErrors.email}}
    </div>

    <label class="form-label" for="password">Password</label>
    <input class="form-input"
           type="password" id="password"
           formControlName="password">
    <div class="form-error" *ngIf="formErrors.password">
        {{ formErrors.password}}
    </div>

    <button class="form-button" type="submit">Create your xFit account</button>

    <span>
        <br>Already have an account? <a (click)="signIn()">Sign in</a>
    </span>

</form>





