<form class="form-container" [formGroup]="resetPasswordForm" novalidate (ngSubmit)="continue(resetPasswordForm.value)">

    <span class="form-title">Reset Password</span>

    <label class="form-label" for="email">Email</label>
    <input class="form-input"
           type="text" id="email"
           formControlName="email">
    <div id="email-error" class="form-error" *ngIf="formErrors.email">{{ formErrors.email}}</div>

    <button id="continue-button" class="form-button" type="submit">Continue</button>

</form>